.field-item .inner-label {
    display: inline;
    font-weight: bold;
}

.field-item .inner-value {
    display: inline;
    padding-left: 3px;
}

.field-item {
    margin-left: 25px;
}

#block-mica-studies-study-timeline #timeline2 .axis {
    transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    /* IE 9 */
    -webkit-transform: translate(0, 30px);
    /* Safari and Chrome */
    -o-transform: translate(0, 30px);
    /* Opera */
    -moz-transform: translate(0, 30px);
    /* Firefox */
}

#block-mica-studies-study-timeline .coloredDiv {
    height: 20px;
    width: 20px;
    float: left;
}

table.pop-dce caption {
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 5px;
}

ul.action-links li a.highlight {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    float: right;
    margin: -4px 5px 10px 5px;
}


