.field-item .inner-label {
    display: inline;
    font-weight: bold;
}

.field-item .inner-value {
    display: inline;
    padding-left: 3px;
}

.field-item {
    margin-left: 25px;
}

/*
.node-study .field-name-field-logo {
 float: left;
 margin: 10px;
}
#block-mica-studies-study-general-design .field-name-field-design .field-item .other-sub-title {
 font-weight: bold;
}
#block-mica-studies-study-general-design .field-name-field-design .field-item p:first-of-type {
 display: inline;
}
#block-mica-studies-study-populations .field-name-field-pop-select-criteria .field-item .inner-value p:first-of-type,
#block-mica-studies-study-populations .field-name-field-pop-src-recruit .field-item .inner-value p:first-of-type {
 display: inline;
}
#block-mica-studies-study-timeline .axis path,
#block-mica-studies-study-timeline .axis line {
 fill: none;
 stroke: black;
 shape-rendering: crispEdges;
}
#block-mica-studies-study-timeline .axis text {
 font-family: sans-serif;
 font-size: 12px;
}
#block-mica-studies-study-timeline .timeline-label {
 font-family: sans-serif;
 font-size: 12px;
}
*/
#block-mica-studies-study-timeline #timeline2 .axis {
    transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    /* IE 9 */
    -webkit-transform: translate(0, 30px);
    /* Safari and Chrome */
    -o-transform: translate(0, 30px);
    /* Opera */
    -moz-transform: translate(0, 30px);
    /* Firefox */
}

/*
#block-mica-studies-study-timeline .coloredDiv {
 height: 20px;
 width: 20px;
 float: left;
}
*/
table.pop-dce caption {
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 5px;
}

ul.action-links li a.highlight {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    float: right;
    margin: -4px 5px 10px 5px;
}

div.terms_checkbox:hover {
    text-decoration: underline;
}

div.terms_checkbox {
    font-size: smaller;
    font-style: italic;
}

div.selected_item {
    color: gray;
    text-decoration: none;
}

body.page-mica-studies-search
.region-sidebar-first .block-mica-client-study h2.block-title,
body.page-mica-variables-search-dataset .region-sidebar-first
.block-mica-client-dataset h2.block-title,
body.page-mica-variables-search-study .region-sidebar-first
.block-mica-client-dataset h2.block-title {
    font-size: 11px;
    text-transform: uppercase;
    margin: 0px 0px 0px -20px;
    padding: 2px 10px;
    background-color: #f2f2f2;
}

body.page-mica-studies-search
.region-sidebar-first .block-mica-client-study h2.block-title,
body.page-mica-variables-search-dataset .region-sidebar-first
.block-mica-client-dataset,
body.page-mica-variables-search-study .region-sidebar-first
.block-mica-client-dataset a {
    padding-left: 15px;
}

